.load-more-container {
    display: flex;
    justify-content: center;
    padding: 1rem;

    button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #DC4343;
        color: #fff;
    }
}