.go-back-button {
    margin-top: 4rem;
    display: flex;
    justify-content: center;

    @media(max-width: 535px) {
        margin-bottom: 4rem;
    }

    button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #DC4343;
        color: #fff;
    }
}